/* src/components/Coffees/Coffees.module.css */

.coffees {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px black;
}

.coffeesContainer {
    display: grid;
    place-items: center;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
}

.coffeeDiv {
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    gap: 0.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    padding: 0.5em;
}

.coffeeImg {
    width: 100px;
    height: 100px;
}
