/* src/components/Coffees/Coffees.module.css */

.coffees {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px black;
}

.consumablesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.consumableShowcase {
    width: 100px;
    height: 100px;
}
