/* src/components/Pastries/Pastries.module.css */

.pastries {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px black;
}

.pastriesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pastryShowcase {
    width: 100px;
    height: 100px;
}
