/* src/components/Home/Home.module.css */

.home {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px black;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    padding: 0.5em;
    border-radius: 30px;
}
