/* src/index.css */

@font-face {
    font-family: "KaiseiTokumin";
    src: url("./assets/font/Kaisei_Tokumin/KaiseiTokumin-Regular.ttf")
        format("ttf");
}

:root {
    --main-color: #252525; /* Jet Black */
    --secondary-color: #fafafa; /* Alabaster white */
    --third-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: "KaiserTokumin", serif;
}

/* === Mobile portrait =========================================================== */
@media (min-width: 320px) {
    header,
    footer {
        background-color: var(--third-color);
        width: 100vw;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
    }

    section {
        width: 100vw;
        height: 100vh;
    }

    footer {
        width: 100vw;
        background-color: var(--third-color);
    }

    /* Navigation Bar */
    .navBar ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    /* Home */
    #home {
        display: grid;
        place-items: center;
        background-image: url("./assets/background.jpg");
        background-size: cover;
        background-position: center;
    }

    #home h1 {
        background-color: var(--third-color);
    }

    /* Food Sections */
    .foodDiv img {
        width: 100px;
        height: 100px;
    }
}

/* === Tablet =============================================================== */
@media (min-width: 768px) {
}

/* === Desktop ============================================================== */
@media (min-width: 1280px) {
}
