/* src/main.css */

/* General */
:root {
    --main-color: #252525;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: var(--main-color);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: var(--main-color);
}

/* Main content */
main {
    margin: 0;
    height: 100vh;
}

#home {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home h1 {
    margin: 0;
}

/* Footer */
footer {
    height: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 10px;
}
